

body {
    background-image: url(gym2.jpg);
    z-index: 0;
    /* opacity: 2; */
    background-position: 0px 203px;
    color: white;
    background-repeat: no-repeat;
    background-color: #101014;
    background-size: 100%;
    font-size: larger;
}


.nav {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 0px;
    padding: 10px;
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: rgb(123, 114, 165);
}

.nav li {
    float: left;
    margin-left: 20px;
}

.nav li a {
    display: block;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 0px 26px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgb(108, 91, 194);
    padding: 5px;
    transform: scale(2);
    border-radius: 25px;
    margin-bottom: 0px;
    margin-left: 20px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.nav li a:active {
    color: rgb(81, 108, 32);
    text-decoration: underline;
}

.search {
    float: right;
    box-shadow: 1px 2px 2px rgb(143, 124, 236);
    margin-right: 40px;
    padding: 7px;
    border-radius: 50px;
    outline-style: dotted;
    outline-color: rgb(143, 124, 236);
    text-align: center;
    width: 150px;


}

.search:hover {
    width: 200px;
    box-shadow: 1px 2px 2px red;
}

#logo {
    top: 20px;
    animation-name: logo;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

@keyframes logo {
    0% {
        rotate: 0deg;
        top: 50px;
    }

    25% {
        rotate: 90deg;
        top: 50px;
    }

    75% {
        rotate: 180deg;
        top: 50px;
    }

    100% {
        rotate: 360deg;
        top: 50px;
    }

}



.list {

    display: block;
    font-size: 20px;
}


.wel {
    text-shadow: 2px 2px 5px rgb(164, 151, 227), 2px 2px 5px rgb(145, 125, 243);
    display: inline-block;
    top: 0px;
    color: #060606;
    text-decoration: wavy;
    text-decoration-color: antiquewhite;
    font-size: 70px;
    margin: 0px 0px 20px 70px;
}



.nform{
    font-size: larger;
}

form>input{
    margin-left: 40px;
    padding-top: 10px;
    text-align: center;
    
}

select{
    padding-top: 10px;
    margin-left: 20px;
}


#submit {
    padding: 10px 20px;
    color: #f5f3f8;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#a794b0;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    margin-left: 10px;

    /* border: 1px solid #8F7CEC; */
    /* margin: auto; */
 }

 #submit:hover{
    background-color: red;
 }

 .adminpage {
    display:block ;
    text-align: center;
}
 